.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.page-content {
  min-height: 80vh;
}
.page-content-general {
  min-height: 73vh;
}
.page-content-general-1 {
  min-height: 71vh;
}
.page-content-error {
  min-height: 76vh;
}
.page-content-custom {
  min-height: 60vh;
}
.page-content-custom-2 {
  min-height: 70vh;
}
.colore-navfoot {
  background-color: #0f172a;
}
.homecolor {
  background-color: #f3f4f6;
}
