/* Bottone delete circolare nella card (Diete lista) */
.btn-delete-button {
  position: absolute;
  bottom: 0px;
  right: 1px;
  background-color: #dc3545;
  color: white;
  border-radius: 6px;
  border: 1px solid white;
  width: 2em;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-delete-button:hover {
  background-color: #c82333;
  transform: scale(1.1);
}
.star-active {
  position: absolute;
  top: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #ffc107;
  transition: color 0.2s ease;
}

.star-inactive {
  position: absolute;
  top: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #d3d3d3;
  transition: color 0.2s ease;
}

.stella-dettaglio {
  font-size: 2em;
  cursor: pointer;
  transition: all 0.2s ease;
}

.stella-dettaglio.star-active {
  position: static;
  color: #ffc107;
}

.stella-dettaglio.star-inactive {
  position: static;
  color: #d3d3d3;
}

.stella-dettaglio:hover {
  color: #ffc107;
  transform: scale(1.1);
}
.cards-diete {
  min-height: 15em;
  max-height: 18em;
  position: relative;
  padding-bottom: 3rem;
}

.btn-dettagli {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
